<article class="post-card post tag-getting-started">
    <a class="post-card-content-link" href="{{ app.request.baseUrl }}/{{ article.id }}">
    <div class="post-card-image" style="background-image: url({{ article.pictureLink }})"></div>
    <div class="post-card-content">
        {# TODO: SET PAGE URL #}
        <header class="post-card-header">
            <span class="post-card-tags">Article</span>
            <h2 class="post-card-title">{{ article.title }}</h2>
        </header>
        <section class="post-card-excerpt">
            <p>{{ article.articleText|striptags|slice(0,100)|default('Read more') }}...</p>
        </section>
    </a>
    <footer class="post-card-meta">
        <span class="post-card-tags">{{ article.author }}</span>
        <span class="reading-time">{{ article.readTime }} minutes</span>
    </footer>
    </div>
</article>
